<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>backstage</title>
	<link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
	<main>
		<h1>backstage</h1>
		<section>
			<pre style="background:#f4f4f4; padding:1em;">{{ content  }}</pre>
		</section>
		<section>
			<form method="post" action="/backstage/update">
				<textarea name="new_content" rows="5" style="width:100%;">{{ content }}</textarea>
				<button type="submit">내용 변경</button>
			</form>
		</section>
	</main>
</body>
</html>
